# Ignore build artifacts and directories
build/
*.jar
out/
*.class
*.war
*.ear

# Ignore dependency directories
.gradle/
.micronaut/

# Ignore IDE-specific files
.idea/
*.iml
*.ipr
*.iws

# Ignore logs and cache directories
logs/
cache/
temp/
*.log

# Ignore Git-related files and directories
.git/
.gitignore
.gitattributes

# Ignore GitHub Actions workflow files
.github/workflows/